<ng-container *ngIf="room$ | async as room">
  <ng-container *ngIf="player$ | async as player">
    <div>
      <div class="container">
        <div class="top">
          <app-card [players]="room.players.slice(4,8) || []"></app-card>
        </div>
        <div class="middle">
          <div class="left">
            <app-card [players]="room.players.slice(0,2) || []"></app-card>
          </div>
          <div class="center d-flex items-center content-center p-relative">
            <ng-container [ngSwitch]="room.state">
              <div class="p-absolute room-code">{{ room.name }} - Code: {{ room.code }}</div>
              <div *ngSwitchCase="state.Pending">
                <h3>Wait for player's votes...</h3>
              </div>
              <div *ngSwitchCase="state.Done"><button (click)="onFlipCard()">FlipCard</button></div>
              <div *ngSwitchCase="state.Flip"><button (click)="onNewVote()">New Vote</button></div>
            </ng-container>
          </div>
          <div class="right">
            <app-card [players]="room.players.slice(2,4) || []"></app-card>
          </div>
        </div>
        <div class="bottom">
          <app-card [players]="room.players.slice(8) || []"></app-card>
        </div>
      </div>
      <div class="footer" *ngIf="room.state != state.Flip; else result">
        <h3 class="d-flex items-center content-center">Choose your card 👇</h3>
        <div class="d-flex deck-picker-container">
          <div class="deck-picker" [class]="{picked: player.score == score}" (click)="onPickCard(score)"
            *ngFor="let score of [0.5, 1, 2, 3, 5, 8, 13, 21, '?']">
            {{score}}
          </div>
        </div>

      </div>
      <ng-template #result>
        <div class="footer" *ngIf="result$ | async as r">
          <app-game-result [result]="r"></app-game-result>
        </div>
      </ng-template>
    </div>

  </ng-container>
</ng-container>