<div *ngIf="room$ | async as room">
    <div *ngIf="room.code ;else createOrJoinRoom">
        Enter name: <input type="text" #inputCreate>
        <button (click)="createRoom(inputCreate)">Start vote</button>
    </div>

    <ng-template #createOrJoinRoom>
        <input type="text" #inputCreate>
        <button (click)="createRoom(inputCreate)">Create room</button>
        <div>OR</div>
        <input type="text" #inputJoin>
        <button (click)="joinRoom(inputJoin)">Join room</button>
    </ng-template>
</div>